{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}

    <link rel="stylesheet" href=" {{ asset('css/styleLogin.css') }}">



    <div id="loginContainer">

        <div id="imageLoginContainer">
            <div id="blackOverlay">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1024px-International_Pok%C3%A9mon_logo.svg.png"
                     alt="">


            </div>
            <div id="imagePokemon"></div>
        </div>

        <div id="formLoginContainer">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes déjà authentifié en tant que {{ app.user.username }}. <a
                                href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                <label for="inputUsername">Pseudo</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                       required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-lg btn-primary" type="submit">
                    Connexion
                </button>
            </form>


        </div>

    </div>




{% endblock %}
