{% extends 'base.html.twig' %}

{% block title %}Accueil - PokeForum{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/styleHome.css') }}">
{% endblock %}

{% block content %}
    <div id="pokemonLogoContainer">

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1024px-International_Pok%C3%A9mon_logo.svg.png"
             alt="">
    </div>

    <div id="wrapperCategory">
        <h2>Catégories</h2>
        {% for category in categories %}
            <a href="{{ path('category',{id: category.id}) }}">
                <div class="categoryContainer">
                    <h3>{{ category.name }}</h3>
                    <img class="iconCatgory" src="{{ category.icon }}" alt="{{ category.name }}">
                </div>
            </a>


        {% endfor %}


    </div>



    <div id="wrapperTopic">
        <h2>Nouveaux topics</h2>
        {% for topic in topics %}

            {% if loop.index < 4 %}
                <a href="{{ path('topic_show',{id: topic.id}) }}">

                    <div class="TopicContainer">
                        <h3>{{ topic.title }}</h3>
                    </div>
                </a>

            {% endif %}

        {% endfor %}


    </div>





{% endblock %}
