{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" href=" {{ asset('css/styleCategory.css') }}">


    <div id="pokemonLogoContainer">

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1024px-International_Pok%C3%A9mon_logo.svg.png" alt="">

    </div>

    <div id="wrapperCategory">

            <div class="categoryContainer">
                <h3>{{ category.name }}</h3>
                <img class="iconCatgory" src="{{ category.icon }}" alt="{{ category.name }}">
            </div>


        <div id="wrapperTopic">
            <h2>Sous-catégories</h2>
            {% for subCategory in subCategorys %}

                {% if loop.index < 4 %}

                    <div class="TopicContainer">
                        <h3>{{ subCategory.name }}</h3>
                    </div>

                {% endif%}

            {% endfor %}


        </div>


    </div>


    <div id="wrapperTopic">
        <h2>Nouveaux topics</h2>
        {% for topic in topics %}

            {% if loop.index < 4 %}

                <div class="TopicContainer">
                    <h3>{{ topic.title }}</h3>
                </div>

            {% endif%}

        {% endfor %}


    </div>








{% endblock %}
