{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    <style>


        .iconCatgory {
            width: 40px;
            margin: 15px;
            margin-right: 0;
        }

        .categoryContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            background-color: white;
            margin: 5px;
            width: 210px;

        }

        .categoryContainer > h3 {
            margin: 0;
        }

        #wrapperCategory{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 15px;
            background-color: #607D8B;
            margin: 15px;
            border-radius: 15px;
            box-shadow: 4px 4px 20px 0px #84848478;
            max-width: 660px;
        }

        #wrapperCategory >h2{
            width: 100%;
            text-align: center;
            color: white;
        }


        .TopicContainer {
            padding: 15px;
            width: 100%;
            border-bottom: 1px solid;
            color: white;
        }

        .TopicContainer > h2 {
            padding: 15px;
            width: 100%;
            border-bottom: 1px solid;

        }

        .TopicContainer > h3{
            font-size: 15px;
            margin: 0;
        }

        #wrapperTopic {
            justify-content: center;
            background-color: #50b4e4;
            margin: 15px;
            border-radius: 15px;
            box-shadow: 4px 4px 20px 0px #84848478;
            background: linear-gradient(to right, #feb47b, #ff7e5f);
            min-height: 277.5px;
            width: 100%;
            max-width: 545px;
            padding-bottom: 30px;
        }

        #wrapperTopic >h2{
            width: 100%;
            text-align: center;
            color: black;
            border-bottom: 1px solid;
            padding: 15px;
            margin: 0;
            color: white;
        }

        .container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            max-width: 1295px;
        }

        #pokemonLogoContainer {
            width: 1235px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #343a40;
            border-radius: 15px;
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
        }

        #pokemonLogoContainer >img{
            width:60%;
        }

        a{
            color: black;
        }

    </style>


    <div id="pokemonLogoContainer">

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1024px-International_Pok%C3%A9mon_logo.svg.png" alt="">

    </div>
    {% for category in categorys %}

    <div id="wrapperCategory">



        <a href="{{ path('category',{id: category.id}) }}">

        <div class="categoryContainer">
            <h3>{{ category.name }}</h3>
            <img class="iconCatgory" src="{{ category.icon }}" alt="{{ category.name }}">
        </div>
        </a>

        <div id="wrapperTopic">
            <h2>Sous-catégories</h2>


            {% for subCategory in subCategorys %}
                {% if loop.parent.loop.index == subCategory.category.id  %}


                    <div class="TopicContainer">
                        <h3>{{ subCategory.name }}</h3>
                    </div>

                {% endif%}

            {% endfor %}


        </div>


    </div>
    {% endfor %}


{% endblock %}
