{% extends 'base.html.twig' %}

{% block title %}
	Tous les Pokemons - PokeForum
{% endblock %}

{% block content %}

	<div class="container emp-profile pokemon-list">
		<div class="row">
			<div class="col-1 text-center font-weight-bold">
				<div class="font-weight-bold">#</div>
				<input type="text" class="filter-idPokemon form-control">
			</div>
			<div class="col-3 text-center font-weight-bold">Image</div>
			<div class="col-2 d-flex flex-column">
				<div class="font-weight-bold">Nom</div>
				<input type="text" class="filter-name form-control">
			</div>
			<div class="col-2 d-flex flex-column">
				<div class="text-center font-weight-bold">Difficulté</div>
				<input type="text" class="filter-difficulty form-control">

			</div>
			<div class="col-4 text-center font-weight-bold">Description</div>
		</div>
		{% for pokemon in pokemons %}
			<a href="{{ path('pokemon_show', {id: pokemon.idPokemon}) }}" class="a-pokemon">
				<div class="row align-items-center mt-4">
					<div class="col-1 text-center idPokemon">{{ pokemon.idPokemon }}</div>
					<div class="col-3 text-center">
						<img src="{{ asset("images/pokemons/" ~ pokemon.idPokemon ~ ".png") }}" class="pokemon-img"/>
					</div>
					<div class="col-2 pokemon-name">{{ pokemon.name }}</div>
					<div class="col-2 text-center difficulty">{{ pokemon.difficulty }}</div>
					<div class="col-4 text-center">{{ pokemon.description }}</div>
				</div>
			{% endfor %}
		</div>

	{% endblock %}

	{% block javascripts %}
		<script>
			$(document).ready(function(){
				$(".filter-name").on("keyup", function() {
					var value = $(this).val().toLowerCase();
					$(".a-pokemon .pokemon-name").filter(function() {
					$(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
				});

				$(".filter-difficulty").on("keyup", function() {
					var value = $(this).val().toLowerCase();
					$(".a-pokemon .difficulty").filter(function() {
					$(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
				});

				$(".filter-idPokemon").on("keyup", function() {
					var value = $(this).val().toLowerCase();
					$(".a-pokemon .idPokemon").filter(function() {
					$(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
				});				
			});
		</script>
	{% endblock %}