<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/favicon.ico') }}"  type="image/icon type">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href=" {{ asset('css/style.min.css') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body data-user-id="{{ app.user.id }}" data-user-pokeball="{{ app.user.pokeball }}">
			{% block body %}

				{% block nav %}
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<div class="container">
							<a class="navbar-brand" href="{{ path('home') }}">PokéForumSF</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarColor02">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item active">
										<a class="nav-link" href="{{ path('home') }}">Accueil
											<span class="sr-only">(current)</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('category_list') }}">Catégories</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('home') }}">Page</a>
									</li>

								</ul>
								{% if is_granted('ROLE_USER')  %}
									{% if app.user.pokeball > 0 %}
										<div class="pokeball-container">
											{% for i in 1..app.user.pokeball %}

												<div>
													<img src="{{ asset('images/pokemon_items/pokeball.png') }}" alt="pokeball PokeForum" class="pokeball">
												</div>
											{% endfor %}
										</div>
										<a class="btn btn-primary hunt-btn" href="{{ path('pokemon_hunt') }}">Chasser un pokemon</a>
									{% endif %}

									<div class="btn-group">
										<button type="button" class="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<img src="{{ app.user.avatar }}" alt=""/>
										</button>
										<div class="dropdown-menu dropdown-menu-right">
											<a href=" {{ path('user_profile_show', {id: app.user.id}) }}" class="dropdown-item">Mon Profil</a>
											<div class="dropdown-divider"></div>
											<a href=" {{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
										</div>
									</div>
								{% else %}
									<div class="btn-group">
										<a href=" {{ path('app_login') }}" class="btn btn-primary">Connexion</a>
									</div>
								{% endif %}
							</div>
						</div>
					</nav>
				{% endblock %}

				<div class="container">
					{% block content %}{% endblock %}
				</div>

				<div class="pokemon-main-container display-none">
					<div class="pokemon-container">
						<a class="pokemon" data-id="" href="{{ path('pokedex_add') }}">
							<img src="{{ asset('images/pokemons/1.png') }}" class="pokemon-image">
						</a>
					</div>

				<div id="cursor-pokeball" class="display-none center-on-page">
					<img src="{{ asset('images/pokemon_items/pokeball.png') }}" class="pokeball-loader">
				</div>

				<div class="center-on-page pokeball-catching display-none">
					<div class="pokeball-catch">
						<div class="pokeball-button"></div>
					</div>
				</div>
				</div>


			{% endblock %}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
			<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
			<script src="{{ asset('js/pokemonFight.min.js') }}"></script>

			{% block javascripts %}{% endblock %}
		</body>
	</html>
