<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/favicon.ico') }}"  type="image/icon type">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href=" {{ asset('css/style.min.css') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{% block body %}

				{% block nav %}
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<div class="container">
							<a class="navbar-brand" href="{{ path('home') }}">PokéForumSF</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarColor02">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item active">
										<a class="nav-link" href="{{ path('home') }}">Accueil
											<span class="sr-only">(current)</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('category_list') }}">Catégories</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('home') }}">Page</a>
									</li>

								</ul>
								{% if is_granted('ROLE_USER')  %}
									{% if app.user.pokeball > 0 %}
										<div class="pokeball-container">
											{% for i in 1..app.user.pokeball %}

												<div>
													<img src="{{ asset('images/pokemon_items/pokeball.png') }}" alt="pokeball PokeForum" class="pokeball">
												</div>
											{% endfor %}
										</div>
										<a class="btn btn-primary hunt-btn" href="{{ path('pokemon_hunt') }}">Chasser un pokemon</a>
									{% endif %}

									<div class="btn-group">
										<button type="button" class="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<img src="{{ app.user.avatar }}" alt=""/>
										</button>
										<div class="dropdown-menu dropdown-menu-right">
											<a href=" {{ path('user_profile_show', {id: app.user.id}) }}" class="dropdown-item">Mon Profil</a>
											<div class="dropdown-divider"></div>
											<a href=" {{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
										</div>
									</div>
								{% else %}
									<div class="btn-group">
										<a href=" {{ path('app_login') }}" class="btn btn-primary">Connexion</a>
									</div>
								{% endif %}
							</div>
						</div>
					</nav>
				{% endblock %}

				<div class="container">
					{% block content %}{% endblock %}
				</div>

				<div class="pokemon-main-container display-none">
					<div class="pokemon-container">
						<a class="pokemon" data-id="" href="{{ path('pokedex_add') }}">
							<img src="{{ asset('images/pokemons/1.png') }}" class="pokemon-image">
						</a>
					</div>
				</div>

				<div id="cursor-pokeball" class="display-none">
					<div class="pokeball-loader"></div>
				</div>

			{% endblock %}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
			<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

			<script>
				document.addEventListener("DOMContentLoaded", function () {
					let onHunt = false;
					
					const body = document.querySelector('body');
					const cursorPokeball = document.querySelector('#cursor-pokeball');

					const huntBtn = document.querySelector('a.hunt-btn');
					const pokemonMainContainer = document.querySelector('div.pokemon-main-container');
					const pokemon = document.querySelector('a.pokemon');
					const pokemonImage = document.querySelector('img.pokemon-image');
					
					let pokemonData;

					document.addEventListener("mousemove", function (event) {
						let x = event.clientX;
						let y = event.clientY;
						cursorPokeball.style.left = x + "px";
						cursorPokeball.style.top = y + "px";
					});

					// Click on button 'Chasser un pokemon'
					huntBtn.addEventListener("click", function (event) {
						event.preventDefault();

						body.style.cursor = "none";
						cursorPokeball.classList.remove('display-none');


						const url = this.href;
						onHunt = true;
						
						axios.post(url, {
							"user_id": {{ app.user.id }}
						}).then(function(response) {
							// Remove a pokeball
							$('.pokeball-container').children().last().remove();
							
							pokemonData = JSON.parse(response.data.content);
							console.log(pokemonData);

							let idPokemon = pokemonData.idPokemon;

							// change image pokemon
							pokemonImage.setAttribute("src","/images/pokemons/"+pokemonData.idPokemon+".png")

							pokemon.setAttribute("data-id", pokemonData.idPokemon)

							// Display game
							$(".pokemon-main-container").fadeIn("0.5");
								movePokemon('.pokemon', pokemonData.difficulty);
						})
					});

					// On click in game
					document.addEventListener("click", function (event) {
						if (onHunt == true) {
							// If click on pokemon
							if (event.target.classList.contains("pokemon-image")) {
								event.preventDefault();

								const url = pokemon.getAttribute("href");
							
								console.log(pokemon.getAttribute("data-id"));
								
								axios.post(url, {
									"user_id": {{ app.user.id }},
									"pokemon_id": pokemon.getAttribute("data-id")
								}).then(function(response) {
										console.log(response);
								})
							} 
							
							if (!event.target.classList.contains("hunt-btn")) {
								onHunt = false;
								$(".pokemon-main-container").fadeOut("0.5");
								body.style.cursor = "inherit";
								cursorPokeball.classList.add('display-none');
							}
						}
						
					});
					

					function makeNewPosition(){
						// Get viewport dimensions (remove the dimension of the div)
						var h = $(window).height() - 50;
						var w = $(window).width() - 50;
						
						var nh = Math.floor(Math.random() * h);
						var nw = Math.floor(Math.random() * w);
						
						return [nh,nw];    
					}

					function movePokemon(myclass, difficulty){
						var newq = makeNewPosition();
						duration = 10000 / (difficulty*0.5);
						
						$(myclass).animate({ top: newq[0], left: newq[1] }, duration,   function(){
						movePokemon(myclass, difficulty);        
						});
						
					};
					

				});
			</script>


			{% block javascripts %}{% endblock %}
		</body>
	</html>
