{% extends 'base.html.twig' %}

{% block title %}Palmarès des dresseurs - PokeForum
{% endblock %}

{% block content %}


	<div class="container emp-profile user-list">
		<div class="row">
			<div class="col-1 text-center font-weight-bold">
				<div class="font-weight-bold">TOP</div>
				<input type="text" class="filter-top form-control">
			</div>
			<div class="col-2 d-flex flex-column">
				<div class="font-weight-bold text-center">Pseudo</div>
				<input type="text" class="filter-username form-control">
			</div>
			<div class="col-2 d-flex flex-column">
				<div class="text-center font-weight-bold">Grade</div>
				<input type="text" class="filter-grade form-control">
			</div>
			<div class="col-3 d-flex flex-column">
				<div class="text-center font-weight-bold">Badge le plus élévé</div>
				<input type="text" class="filter-maxbadge form-control">
			</div>
			<div class="col-4 text-center font-weight-bold">Description</div>
		</div>
		{% for user in users %}
			<a href="{{ path('user_profile_show', {id: user.id}) }}" class="a-user">

				{% if user.pokedex|length == 151 %}

					<div class="final-stage row align-items-center ">
				{% else %}
					<div class="row align-items-center ">

				{% endif %}
					<div class="col-1 text-center userTop">{{ loop.index }}</div>
					<div class="col-2 text-center font-weight-bold username">{{ user.username }}</div>
					<div class="col-2 text-center rank">{{ user.rank }}</div>
					<div class="col-3 text-center maxbadge">{{ user.maxBadge }}</div>
					<div class="col-4 text-center">{{ user.description }}</div>
				</div>
			{% endfor %}
		</div>

	{% endblock %}

	{% block javascripts %}
		<script>
			$(document).ready(function(){
				$(".filter-username").on("keyup", function() {
					var value = $(this).val().toLowerCase();
					$(".a-user .username").filter(function() {
					$(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
				});

				$(".filter-grade").on("keyup", function() {
					var value = $(this).val().toLowerCase();
					$(".a-user .rank").filter(function() {
					$(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
				});

				$(".filter-maxbadge").on("keyup", function() {
					var value = $(this).val().toLowerCase();
					$(".a-user .maxbadge").filter(function() {
					$(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
				});

				$(".filter-top").on("keyup", function() {
					var value = $(this).val().toLowerCase();
					$(".a-user .userTop").filter(function() {
					$(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
				});
			});
		</script>
	{% endblock %}