{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ user.username }}
	- PokeForum
{% endblock %}

{% block content %}

	<div class="container emp-profile">
		<div class="row">
			<div class="col-md-4">
				<div class="profile-img">
					<img src="{{ user.avatar }}" alt=""/>
				</div>

				<div class="profile-work d-flex flex-column align-items-center justify-content-start">
					<p class="">{{user.rank}}</p>
					<div class="d-flex">
						{% for badge in user.badges %}
							<img style="width: 20px;height:20px;object-fit: contain;" src="{{ asset('images/pokemon_items/'~ badge.image ) }}" alt="">
						{% endfor %}
					</div>
					<p class="">{{ user.pokedex|length}}
						Pokémon attrapés sur 151</p>
				</div>
			</div>
			<div class="col-md-8">
				<div class="profile-head">
					<h5>{{ user }}</h5>
					<p class="profile-description">{{ user.description }}</p>
					{# {% for pokemonLine in pokedex %}
																																				{{ dump(pokemonLine.pokemon) }}
																																			{% endfor %} #}
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">A propos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Pokedex</a>
						</li>
					</ul>

					{% if is_granted('ROLE_USER')  %}
						{% if app.user.id == user.id %}
							<a href="{{ path('user_profile_edit') }}" class="profile-edit-btn"/>Editer mon profil</a>
					{% endif %}
				{% endif %}
			</div>
			<div class="tab-content profile-tab" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class="row">
						<div class="col-md-6">
							<label>Prénom</label>
						</div>
						<div class="col-md-6">
							<p>
								{{ user.name }}
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Nom</label>
						</div>
						<div class="col-md-6">
							<p>
								{{ user.lastname }}
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label>Email</label>
						</div>
						<div class="col-md-6">
							<p>
								{{ user.email }}
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label>Date de naissance</label>
						</div>
						<div class="col-md-6">
							<p>
								{{ user.birthday|date("m/d/Y") }}
							</p>
						</div>
					</div>

				</div>


				{# Pokedex tab #}
				<div class="tab-pane fade pokemon-list" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="row mb-4">
						<div class="col-md-3 text-center">
							<label>N°</label>
							<input type="text" class="filter-idPokemon form-control">
						</div>
						<div class="col-md-3 text-center">
							<label>Nom</label>
							<input type="text" class="filter-name form-control">
						</div>
						<div class="col-md-3 text-center">
							<label>Difficulté</label>
							<input type="text" class="filter-difficulty form-control">
						</div>
						<div class="col-md-3 text-center">
							<label>Quantité</label>
						</div>
					</div>

					{% for i in 1..pokemons | length %}
						{% set index = i-1 %}
						{% set quantity = null %}

						{# {{ dump(pokemons[index]) }} #}
						{% for pokemonLine in pokedex %}
							{% if pokemonLine.pokemon == pokemons[index] %}
								{% set quantity = pokemonLine.quantity %}
							{% endif %}
						{% endfor %}


						<a href="{{ path('pokemon_show', {id: pokemons[index].idPokemon}) }}" class="row a-pokemon {{ quantity ? '' : 'pokemon-wanted' }}">
							<div class="col-md-3 text-center">
								<p class="bold idPokemon">{{pokemons[index].idPokemon}}</p>
							</div>
							<div class="col-md-3 text-center">
								<p class="bold pokemon-name">{{pokemons[index].name}}</p>
							</div>
							<div class="col-md-3  text-center difficulty">
								<p>{{pokemons[index].difficulty}}</p>
							</div>
							<div class="col-md-3  text-center">
								<p>{{ quantity }}</p>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script>
		$(document).ready(function () {
$(".filter-name").on("keyup", function () {
var value = $(this).val().toLowerCase();
$(".a-pokemon .pokemon-name").filter(function () {
$(this).parents(".a-pokemon").toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});

$(".filter-difficulty").on("keyup", function () {
var value = $(this).val().toLowerCase();
$(".a-pokemon .difficulty").filter(function () {
$(this).parents(".a-pokemon").toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});

$(".filter-idPokemon").on("keyup", function () {
var value = $(this).val().toLowerCase();
$(".a-pokemon .idPokemon").filter(function () {
$(this).parents(".a-pokemon").toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
});
	</script>
{% endblock %}
